.modal-content {
  /* background-color: #74512D;  */
  background-color: #987070;
  color: #f8f4e1; 
}

.modal-header, .modal-footer {
  border: none;
  
}
.inout {
  color: #987070;
}
.modal-header text{
    border-bottom: 1px solid beige;
}

.modal-title {
  color: beige; 
  font-weight: bold;
}

.modal-body {
  color: #987070;
  background-image: url('../../../../public/assets/images/bg1.jpg');
  font-weight: 400;
}

.form-check-label {
  color: #f8f4e1;
}

.form-select {
  background-color: #ffffff; 
  color: #74512d;
  border: 1px solid #af8f6f; 
}

.form-select:focus {
  border-color: #af8f6f;
  box-shadow: 0 0 5px rgba(175, 143, 111, 0.5);
}

.btn-secondary {
  color: #F1E5D1; 
  font-weight: 500;
  background-color: #C39898; 
  border: 1px solid #987070; 
}

.btn-secondary:hover {
  background-color: #987070; 
  color: #F1E5D1; 
  border: none;
}

.btn-primary {
  background-color: #987070; 
  border: 1px solid #F1E5D1; 
  color: #F1E5D1; 
}

.btn-primary:hover {
  background-color: #C39898; 
  color: #F1E5D1;
  border: 1px solid #987070;
}
