@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* form */

.form-banner img {
  height: 100%;
  width: 100%;
}
.form-banner{
  background-color: #88604A;
}
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #88604A;
  color: rgb(247, 240, 228);
}
.btn-primary{
  background-color: beige;
  color: #88604A;
  font-weight: bolder;
  border-color: #88604A;
}
.btn-primary:hover{
  color: rgb(255, 255, 255);
  background-color: #88604A;
  border-color: #f3e9e3;
}
.form-link{
  color: beige;
}
.form-link:hover{
  color: aliceblue;
}
.App{
   margin-top: 30%;
   margin-left: 45%;
}
.btn-logout{
  background-color: beige;
  color: #88604A;
  font-weight: bolder;
  border-color: #88604A;
}

.navbar{
  background-color: #543310;
  color: antiquewhite;
}
.nav-link,
.navbar-brand{
  color: antiquewhite;
}
.nav-link:hover{
  color: bisque;
}
.navbar-brand{
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;
}
.badge{
  background-color: beige;
  color: #613511;
}
.navbar-logo img{
  height: 20%;
  width: 20%;
}